<section class="position-relative overflow-hidden section-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 with_bg pt-5 pb-5 text-center">
                <h2>Contact</h2>
                <div class="line">
                    <span><a href="#" class="text-decoration-none text-white">Delishs</a></span>
                    <!-- <span class="position-relative mx-1 ms-2"><i class="bi bi-caret-right-fill position-absolute top-0 end-0 z-2 mx-1 "></i><i class="bi bi-caret-right "></i></span> -->
                    <span class="mx-1">
                        <i class="bi bi-chevron-double-right"></i>
                    </span>
                    <span class="text-coloered">Contact</span>
                    
                </div>
                <p>Contact</p>     
            </div>

            <div class="col-12 px-0">
                <div class="map col-12 position-relative">
                    <div class="w-100 mapContainer">
                        <!-- <google-map height="400px"  width="100%" [options]="mapOptions"></google-map> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6449.145324762254!2d31.220223734887703!3d30.03870619999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145840d30a49a737%3A0xf9ff57d9857cd389!2sSofitel%20Cairo%20Nile%20El%20Gezirah!5e1!3m2!1sen!2seg!4v1731999898450!5m2!1sen!2seg" 
                        allowfullscreen="" class="w-100 " title="map..." referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="d-none position-absolute top-0 start-0 end-0 bottom-0 bg-black opacity-50 w-100 h-100"></div>
                    </div>

                    <div class="layerOnMap-f container">
                        <div class="layerOnMap ps-4 ps-lg-0 col-12" >

                            <div class="layerOnMapTitle col-11">
                                <p class="text-uppercase h5">Find Food Lounge</p>
                                <p>Completely recapitalize 24/7 communities via standards compliant metrics whereas.</p>
                            </div>

                            <div class="col-12">

                                <div class="d-flex flex-row layerLineNumber ">
                                    <div class="  d-flex align-items-center me-3">
                                        <div class="layerOnMapIconHome" >
                                            <i class="bi bi-telephone-fill"></i>
                                        </div>
                                    </div>
                                    <div class="w-auto mb-2">
                                        <span class="h5 mb-1">Phone Number & Email</span><br>
                                        <span class="mb-1"><a href="#" class="text-decoration-none changeTextColor ">+(310) 2591 21563</a></span><br>
                                        <span class="mb-0"><a href="#" class="text-decoration-none changeTextColor ">help-delish&#64;gmail.com</a></span>
                                        
                                        
                                    </div>
                                </div><hr/>

                                <div class="d-flex flex-row layerLineAddress ">
                                    <div class="  d-flex align-items-center me-3">
                                        <div class="layerOnMapIconHome" >
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </div>
                                    </div>
                                    <div class="w-auto my-3">
                                        <span class="h5 mb-1">Our Office Address</span><br>
                                        <span class="mb-1"><a href="#" class="text-decoration-none changeTextColor ">258 Dancing Street, Miland Line, HUYI 21563, NewYork</a></span>
                                    </div>
                                </div><hr/>

                                <div class="d-flex flex-row layerLineTime">
                                    <div class="  d-flex align-items-center me-3">
                                        <div class="layerOnMapIconHome" >
                                            <i class="bi bi-clock-fill"></i>
                                        </div>
                                    </div>
                                    <div class="w-auto mb-2">
                                        <span class="h5 mb-1">Official Work Time</span><br>
                                        <span class="mb-1">>7:00am - 6:00pm ( Mon - Fri )</span><br>
                                        <span class="mb-0">Sat, Sun & <span>Holiday Closed</span></span>
                                        
                                        
                                    </div>
                                </div>


                            </div>

                            
                        </div>
                    </div>

                    <div></div>
                </div>
            </div>

            <div class="col-12  mt-70 ">
                <div class=" container message-form mx-auto">
                    <div class="col-12 form_f" >
                        <div class="text-center col-12 py-5 head_form">
                            <p class="text-uppercase h1">Make Reservation</p>
                            <p class="">Book A Open Table For Your Happy Time Spent</p>                                
                        </div>
                        <form class="container">
                            <div class="d-flex flex-column">
                                <div class="p-0 m-0 col-12 d-flex flex-column flex-lg-row">
                                    <div class="mb-3 col-12 col-lg-6 px-0 ps-lg-0 pe-lg-2">
                                        <label for="exampleInputName1" class="form-label d-none">Your Name</label>
                                        <input type="text" class="form-control rounded-0 " placeholder="Your Name" id="exampleInputName1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3 col-12 col-lg-6 px-0 pe-lg-0 ps-lg-2">
                                        <label for="exampleInputEmail1" class="form-label d-none">Email</label>
                                        <input type="email" class="form-control rounded-0" placeholder="Email Address" id="exampleInputEmail1">
                                    </div>
                                </div>
                                <select class="form-select rounded-0 mb-3 col-12" aria-label="Default select example">
                                    <option selected>Select Subject</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="mb-3 col-12 px-0">
                                    <label for="your_message" class="form-label d-none">type your message</label>
                                    <input type="text" class="form-control rounded-0" placeholder="type your message" id="your_message">
                                </div>
                                <button type="submit" class=" btn col-12 rounded-0 text-uppercase text-white">
                                    <span class=" overflow-hidden d-flex flex-column position-relative w-100 justify-content-center align-items-center">
                                        <span class="opacity-0">...</span>
                                        <div class="flex-column inbutton_moving_div d-flex position-absolute top-0 start-0 end-0 bottom-0 z-1">
                                            <span class="inbutton_moving_span">Submit message <i class="bi mt-3 bi-arrow-right-short"></i></span>
                                            <span class="inbutton_moving_span mt-1">Submit message <i class="bi mt-3 bi-arrow-right-short"></i></span>
                                        </div>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="p-0 m-0">
    <app-booktablefooter></app-booktablefooter>
</section>