<section class="col-12 col-lg-auto">
    <button type="submit" class="btn rounded-0 text-uppercase col-12">
        <span class=" overflow-hidden d-flex flex-column position-relative justify-content-center align-items-center">
            <span class="opacity-0">{{button_text}}</span>
            <div class="p-0 m-0 flex-column inbutton_moving_div d-flex position-absolute top-0 start-0 end-0 bottom-0 z-1">
                <span class="inbutton_moving_span align-self-center">{{button_text}}</span>
                <span class="inbutton_moving_span align-self-center">{{button_text}}</span>
            </div>
        </span>
    </button>
</section>