<section class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center px-0">
                <div class="col-12 text-center text-container mb-70">
                    <div>
                        <span class="section__subtitle">Discover Food</span>
                        <p class="h1 mb-2">Discover Our Category</p>
                    </div>
                    <div class="col-12 decor-center">
                        <img class="img-fluid" src="../../../assets/images/asset 8.svg" alt="decor">
                    </div>
                </div>

                

                <!-- <div class=" container-fluid col-12 images-container px-0 mx-0 "> -->

                    <div class="row col-12 ps-4  ">

                        <div class="col-12 overflow-hidden px-0   my-3 col-md-6 col-lg-4 position-relative images-container-ch">
                            <img class="img-fluid px-0 px-md-2 px-lg-3 w-100" src="../../../assets/images/food-gallery__item-1.jpg" alt="food">
                            <div class="food-gallery__item-hover">
                                <div class="bg-white d-flex align-items-center justify-content-center home_icon_on_hover">
                                    <a href="#" class="text-decoration-none" title="View link">
                                        <i class="bi bi-eye fs-3 text_colored"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 overflow-hidden px-0   my-3 col-md-6 col-lg-4 position-relative images-container-ch">
                            <img class="img-fluid px-0 px-md-2 px-lg-3 w-100" src="../../../assets/images/food-gallery__item-2.jpg" alt="food">
                            <div class="food-gallery__item-hover">
                                <div class="bg-white d-flex align-items-center justify-content-center home_icon_on_hover">
                                    <a href="#" class="text-decoration-none" title="View link">
                                        <i class="bi bi-eye fs-3 text_colored"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 overflow-hidden px-0   my-3 col-md-6 col-lg-4 position-relative images-container-ch">
                            <img class="img-fluid px-0 px-md-2 px-lg-3 w-100" src="../../../assets/images/food-gallery__item-3.jpg" alt="food">
                            <div class="food-gallery__item-hover">
                                <div class="bg-white d-flex align-items-center justify-content-center home_icon_on_hover">
                                    <a href="#" class="text-decoration-none" title="View link">
                                        <i class="bi bi-eye fs-3 text_colored"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 overflow-hidden px-0   my-3 col-md-6 col-lg-4 position-relative images-container-ch">
                            <img class="img-fluid px-0 px-md-2 px-lg-3 w-100" src="../../../assets/images/food-gallery__item-4.jpg" alt="food">
                            <div class="food-gallery__item-hover">
                                <div class="bg-white d-flex align-items-center justify-content-center home_icon_on_hover">
                                    <a href="#" class="text-decoration-none" title="View link">
                                        <i class="bi bi-eye fs-3 text_colored"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 overflow-hidden px-0   my-3 col-md-6 col-lg-4 position-relative images-container-ch">
                            <img class="img-fluid px-0 px-md-2 px-lg-3 w-100" src="../../../assets/images/food-gallery__item-5.jpg" alt="food">
                            <div class="food-gallery__item-hover">
                                <div class="bg-white d-flex align-items-center justify-content-center home_icon_on_hover">
                                    <a href="#" class="text-decoration-none" title="View link">
                                        <i class="bi bi-eye fs-3 text_colored"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 overflow-hidden px-0   my-3 col-md-6 col-lg-4 position-relative images-container-ch">
                            <img class="img-fluid px-0 px-md-2 px-lg-3 w-100" src="../../../assets/images/food-gallery__item-6.jpg" alt="food">
                            <div class="food-gallery__item-hover">
                                <div class="bg-white d-flex align-items-center justify-content-center home_icon_on_hover">
                                    <a href="#" class="text-decoration-none" title="View link">
                                        <i class="bi bi-eye fs-3 text_colored"></i>
                                    </a>
                                </div>
                            </div>
                        </div>



                    </div>


                <!-- </div> -->
                
            </div>
        </div>
    </div>
</section>