<section id="uper_footer" class="overflow-hidden">
    <div class="container-fluid ">
            <div class="col-12" >
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-12 col-xl-7 text-center text-xl-start"> 
                            <span>Are You Want To Make A Reservation, <br class="d-block d-md-none" /><a href="#" class="changeTextColor ">Get Your Table</a></span>
                        </div>
                        <div class="col-12 col-xl-5 mt-3 mt-xl-0 d-flex justify-content-center justify-content-xl-end align-items-center">
                            <div>
                                <img src="../../../assets/images/asset 37.svg" alt="..." class="img-fluid">
                            </div>
                            <div class="ms-3 QuestionsP">
                                <p class="mb-0">Have Questions?</p>
                                <span>Free <a href="#" class="text-decoration-none changeTextColor" >+92 (8800)-9850</a></span>
                            </div>
                                
                        </div>


                    </div>
                </div>
            </div>
        </div>


</section>
