<section class="bg-black section-space">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-xl-row  text-white overflow-hidden  align-items-center">
                <div class="ps-2 col-12 col-lg-3 text-center text-xl-start mx-0">
                    <p class="title">Book A Table</p>
                    <p class="sub_title">Book A Open Table For Your Happy Time Spent</p>
                </div>
                <form class="mx-0 ps-2 col-12 col-lg-9 form-control bg-black border-0">
                    <div class="mx-0 col-12 d-flex flex-column flex-lg-row gap-3 justify-content-center justify-content-xl-start">
                        
                        <div class="form-item col-12 col-lg-2">
                            <select class="rounded-0 form-select bg-black " id="num_of_people_resrvation" aria-label="num_of_people_resrvation">
                              <option class="bg-white text-black" selected value="1">1 person</option>
                              <option class="bg-white text-black" value="2">2 person</option>
                              <option class="bg-white text-black" value="3">3 person</option>
                              <option class="bg-white text-black" value="4">4 person</option>
                              <option class="bg-white text-black" value="5">5 person</option>
                              <option class="bg-white text-black" value="6">6 person</option>
                              <option class="bg-white text-black" value="7">7 person</option>
                            </select>
                        </div>

                        <div class="form-item col-12 col-lg-2">
                            <select class="rounded-0 form-select bg-black " id="num_of_people_resrvation2" aria-label="num_of_people_resrvation2">
                              <option class="bg-white text-black" selected value="1">1 person</option>
                              <option class="bg-white text-black" value="2">2 person</option>
                              <option class="bg-white text-black" value="3">3 person</option>
                              <option class="bg-white text-black" value="4">4 person</option>
                              <option class="bg-white text-black" value="5">5 person</option>
                              <option class="bg-white text-black" value="6">6 person</option>
                              <option class="bg-white text-black" value="7">7 person</option>
                            </select>
                        </div>
                        
                        <div class="form-item col-12 col-lg-2">
                            <select class="rounded-0 form-select bg-black " id="time_reservation" aria-label="time_reservation">
                                <option class="bg-white text-black" selected value="10 am">10:00 AM</option>
                                <option class="bg-white text-black" value="11am">11:00 AM</option>
                                <option class="bg-white text-black" value="12pm">12:00 PM</option>
                                <option class="bg-white text-black ps-1" value="1pm">1:00 PM</option>
                                <option class="bg-white text-black ps-1" value="2pm">2:00 PM</option>
                                <option class="bg-white text-black ps-1" value="3pm">3:00 PM</option>
                                <option class="bg-white text-black ps-1" value="4pm">4:00 PM</option>
                                <!-- <option class="bg-white text-black ps-1" value="5pm">5:00 PM</option>
                                <option class="bg-white text-black ps-1" value="6pm">6:00 PM</option>
                                <option class="bg-white text-black ps-1" value="7pm">7:00 PM</option>
                                <option class="bg-white text-black ps-1" value="8pm">8:00 PM</option>
                                <option class="bg-white text-black ps-1" value="9pm">9:00 PM</option> -->
                            </select>
                        </div>

                        <app-animatedbutton class="col-12 col-lg-2" [button_text]="button_text"></app-animatedbutton>
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>