<section class="position-relative overflow-hidden ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 with_bg pt-5 pb-5 text-center d-flex flex-column justify-content-center align-items-center">
                <h2>{{page_name}}</h2>
                <div class="line ">
                    <span><a href="#" class="text-decoration-none text-white">Delishs</a></span>
                    <!-- <span class="position-relative mx-1 ms-2"><i class="bi bi-caret-right-fill position-absolute top-0 end-0 z-2 mx-1 "></i><i class="bi bi-caret-right "></i></span> -->
                    <span class="mx-1">
                        <i class="bi bi-chevron-double-right"></i>
                    </span>
                    <span class="text-coloered">{{page_name}}</span>
                    
                </div>
                <p>{{page_name}}</p>     
            </div>


        </div>
    </div>
</section>