<section class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row">
                <div class="col-12 col-lg-6 px-0 d-flex flex-column">
                    <div class="col-12 mb-5">
                        <div class="col-12">
                            <p class="section__subtitle">About Delish</p>
                        </div>
                        <div class="col-12">
                            <p class="h1-1 pe-0 pe-lg-3">Delicious Food For Healthy Life</p>
                        </div>
                    </div>

                    <div class="col-12">

                        <div class="col-12 d-flex mb-4">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="../../../assets/images/about-1.png" alt="...">
                            </div>
                            <div class="ms-5 text-content">
                                <p class="h3-3">Quality Food</p>
                                <p class="lorem">The wise man therefore always holds Indies matters this principle information</p>   
                            </div>
                        </div>

                        <div class="col-12 d-flex mb-4">
                            <div>
                                <img src="../../../assets/images/about-2.png" alt="...">
                            </div>
                            <div  class="ms-5 text-content">
                                <p class="h3-3">Supply Chain Maintain</p>
                                <p class="lorem">The wise man therefore always holds Indies matters this principle information</p>   
                            </div>
                        </div>

                        <div class=" mb-5">
                            <button type="submit" class=" btn  rounded-0 text-uppercase ">
                                <span class=" overflow-hidden d-flex flex-column position-relative justify-content-center align-items-center">
                                    <span class="opacity-0">Read More<i class="align-self-center bi ms-5 bi-arrow-right-short"></i></span>
                                    <div class="p-0 m-0 flex-column inbutton_moving_div d-flex position-absolute top-0 start-0 end-0 bottom-0 z-1">
                                        <span class="inbutton_moving_span align-self-center">Read More<i class="align-self-center bi bi-arrow-right-short"></i></span>
                                        <span class="inbutton_moving_span mt-1 align-self-center">Read More<i class="align-self-center bi bi-arrow-right-short"></i></span>
                                    </div>
                                </span>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-6 px-0">
                    <div class="col-12 side_img overflow-hidden">
                        <img src="../../../assets/images/asset 21.jpeg" alt="..." class="img-thumbnail">
                    </div>
                </div>
            </div >
        </div>
    </div >

</section>