<section class="m-0 p-0">

    <div id="section" class="position-relative">
        <div class="container" >
            <div class="row ">

            <div class="col-12 content px-3 position-relative ">

                <div class="col-12 d-flex flex-column flex-lg-row justify-content-between">
                    <div class="left_content mb-4 my-lg-auto">
                        <p>CRISPY, EVERY BITE TASTE</p>
                        <a href="#" class="changeTextColor">LOOKING FOR POPULAR FAST FOOD</a>
                    </div>
                    <div class="right_content  my-lg-auto">
                        <a href="#" 
                        class="text-nowrap text-white text-decoration-none border border-1 border-white">Book A Table</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</section>
