<section class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-lg-column">
                    <div class="col-12">
                        <figure class="position-relative">
                            <a href="#" title="food">
                                <img class="img-fluid" src="../../../assets/images/asset 34.jpeg" alt="food">
                            </a>
                            <figcaption class="position-absolute text-white text-center top-0 start-0 d-flex flex-column ">
                                <span class="top">28</span>
                                <span class="bottom">Jul</span>
                                    
                            </figcaption>                            
                        </figure>
                    </div>
                    <div>
                        <i class="bi bi-chat-fill"></i><span>delishs</span>
                        <a href="#" class="text-decoration-none text-black"><i class="bi bi-chat-fill"></i>No Comments</a>
                    </div>
                    <div>
                        <a href="#" class="text-decoration-none text-black changeTextColor">How Restaurants Foster Connections and Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>